@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

section {
  scroll-margin-top: 100px;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black dark:bg-black dark:text-white font-mono;
}



